{% extends 'base.html' %}
{% block content %}




{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text-element">

                <p class="subtitle">Our Story</p>
                <h3>About Us</h3>

                <p>
                    SuperNova<em>Ceramics</em> was established with the aim of driving the changes in the tiling
                    industry. We are a
                    porcelain ceramic manufacturer India with superior quality tiles in India. Developing perfect
                    and
                    splendid layout patterns that set a benchmark in the porcelain and ceramic tiles association.
                    With continuous efforts, we are providing unmatchable tiling patterns such as 3d tiles,
                    porcelain
                    vitrified tile which bring changes in the tiling market.
                </p>

            </div>

        </div>
        <div class="col-md-6">
            <div class="animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="500">
                <img class="img-fluid " src="{% static 'images/company.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="row" style="background-image: url('{% static 'images/profile.png' %}')">
        <div class="col-md-6">
            <div class="text-element">
                <h3>MISSION</h3>

                <p>

                    With the advancement in technology, we have an intelligent mix of creative designing and high
                    rated technology for our production process. Team of technocrats and an experienced R&D
                    team worked to manage the latest production process with the latest update in the market.
                    Latest updates in the designs of porcelain tile, ceramic floor, wall tiles, outdoor tiles bring the
                    lavish look in the infrastructure.

                </p>
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-element">
                <h3>VISION</h3>
                <p>

                    
                    To get a worldwide leadership in tile manufacturing and export of the best quality
porcelain/vitrified tiles. Our ultimate vision guides us to go hard on tiles design and pattern, tile
product life and quality to ensure that clients who utilize our items are constantly delighted.
                    

                
                </p>
            </div>
        </div>
    </div>



    {% endblock %}