<!-- ***** Header Area Start ***** -->
{% load static %}
<header class="header-area header-sticky">
    <div class="container">
        <!-- <div class="row contactheader ">
            <div class="col-md-4 col-sm-4">     <span></span></div>
            
            <div class="col-md-4 col-sm-4 textright">     <a>info@supernovaceramics.com</a></div>
            <div class="col-md-4 col-sm-4 textright">    <i class="fa fa-phone-square" aria-hidden="true">+91 9472793144</i></div>
            
        </div> -->
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="{% static 'images/logo.png' %}" class="img-fluid logoimg" alt="Responsive image">
                       <span class="logotest"> SuperNova<em>Ceramics</em></span></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/aboutus" class="active">About Us</a></li>
                        <li>
                            <a class=" dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Collections </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/comeingsoon">600 x 600 MM</a></li>
                                    <li><a class="dropdown-item" href="/comeingsoon">200 x 1200 MM</a></li>
                                    <li><a class="dropdown-item" href="/comeingsoon">600 x 1200 MM</a></li>
                                    
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class=" dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Download </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" target="_blank" href="{{catalogue.doc}}">{{catalogue.docName}}</a></li>
                                    <li><a class="dropdown-item" target="_blank" href="{{tech.doc}}">{{tech.docName}}</a></li>
                                    
                                    
                                </ul>
                            </li>
                
                            <li class="nav-item dropdown">
                                <a class=" dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Infomation </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/comeingsoon">Tiles Calculator</a></li>
                                    <li><a class="dropdown-item" href="/comeingsoon">Packing Details</a></li>
                                    
                                    
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="" href="/comeingsoon">Contact Us</a>
                            </li>
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
        
    </div>
    
</header>
<!-- ***** Header Area End ***** -->