<head>
    <meta charset="UTF-8">
    {% load static %}  
  
  
  </head>
 

<nav class="navbar navbar-expand-md navbar-light bg-light">
    
    <a class="navbar-brand pb-2" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse custome" id="navbarNavDropdown">
        <div class="container menucontact">
            <div class="row">
                    <div class="col">     <a>MARKETING@test.IN</a></div>
                    <div class="col">    
                        <i class="fa fa-phone-square" aria-hidden="true">+91 9337874425</i></div>
                    
                 
          </div>
          <div class="row">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutus">About us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Collections </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/comeingsoon">600 x 600 MM</a></li>
                    <li><a class="dropdown-item" href="/comeingsoon">200 x 1200 MM</a></li>
                    <li><a class="dropdown-item" href="/comeingsoon">600 x 1200 MM</a></li>
                    
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Download </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/comeingsoon">E-Catalogue</a></li>
                    <li><a class="dropdown-item" href="/comeingsoon">Tech. Spec.</a></li>
                    
                    
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Infomation </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/comeingsoon">Tiles Calculator</a></li>
                    <li><a class="dropdown-item" href="/comeingsoon">Packing Details</a></li>
                    
                    
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/comeingsoon">Contact Us</a>
            </li>
            
        </ul>
    </div>
</div>
    </div>
</nav>